*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    height: 100vh;
    background-color: #046bd2;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    position:relative;
    width:75px;
    height: 410px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:10px 0 50px rgba(0,0,0,2);
}
ul {
    position: absolute;
    width: 100%;
  }
  li {
    position: relative;
    list-style: none;
    border-radius: 10px;
    height: 75px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  li:hover {
    background-color: #000000;
    color: #ffffff;
  }
  span {
    font-weight: 600;
    position: absolute;
    left: 100px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  li:hover span {
    visibility: visible;
    opacity: 1;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 10px 0 50px rgba(0, 0, 0, 0.2);
  }
  span:before {
    content: ”;
    position: absolute;
    left: -20px;
    transition: 0.4s;
    border-top: 10px solid transparent;
    border-right: 20px solid #000000;
    border-bottom: 10px solid transparent;
  }
  